<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo Produto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div>
                    
                    

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nome</label>
                                <input type="text" class="form-control" id="recipient-name">
                              </div>
                              <div class="form-group">
                                  <label for="recipient-name" class="col-form-label">Descrição</label>
                                  <input type="text" class="form-control" id="recipient-name">
                              </div>
                             
                            </div>
                        </div>
                      </div>
                     
                      <div class="row">
                        <div class="col-sm-12">
                        
                          <div class="row">
                            <div class="col-8 col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Valor</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                            </div>
                            <div class="col-4 col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Data de Compra</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div> 
                            </div>
                          </div>
                        </div>
                                          

                      
                </div>
          
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="addProd()">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
