<button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modalAddComp">
  nova empresa
</button>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover"  *ngIf="show">
            
            <thead class=" text-primary">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Nome Fantasia</th>
                <th scope="col">CNPJ</th>
              </tr>
            </thead>
            
            <tbody >
            
              <tr *ngFor="let company of companies">
                
                <th scope="row" >{{ company.id }}</th>
                <td>{{ company.name }}</td>
                <td>{{ company.fantasyName }}</td>
                <td>{{ company.cnpj }}</td>
                
                <td><button class="btn btn-info btn-icon" style="width: 15px; height: 35px; " data-toggle="modal"
                  data-target="#modalUpdateComp" (click)="listCompany(company.id)"><img style="width: 30px; height: 30px;" src="../assets/img/icons/baseline_create_white_18dp.png"></button>
               <button class="btn btn-danger btn-icon"  style="width: 15px; height: 35px;" data-toggle="modal"
                    data-target="#modalDelComp" (click)="referenceId(company.id)"><img style="width: 30px; height: 30px;" src="../assets/img/icons/baseline_delete_white_18dp.png"></button></td>
                  
              </tr>
          
            </tbody>
         
          </table>
        
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
 <!--  <app-new-company></app-new-company> -->
 

<!-- <app-update-company [company]="company"></app-update-company> -->
  
  
 <!--  <app-del-company [company_id]="company_id"></app-del-company> -->
</div>

<!-- Modal de Edição de empresas-->

<div class="modal fade" id="modalUpdateComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formulary" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Empresa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            
                                <label for="recipient-name" class="col-form-label"></label>
                                <input type="text" class="form-control" data-whatever="company.name" placeholder="Nome da Empresa" formControlName="name" required>
                              
                             
                                  <label for="recipient-name" class="col-form-label"></label>
                                  <input type="text" class="form-control" placeholder="Nome Fantasia" formControlName="fantasyName" required> 
                           
                             
                            </div>
                        </div>
                      </div>
                     
                      <div class="row">
                        <div class="col-sm-12">
                        
                          <div class="row">
                            <div class="col-8 col-md-6">
                              <fieldset disabled>
                                    <label for="recipient-name" class="col-form-label"></label>
                                    <input type="text" class="form-control" [disabled] formControlName="cnpj" required>
                                  </fieldset>
                            </div>
                            </div>
                        </div>
                                          

                      
                </div>
          
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary"  [disabled]="!formulary.valid" (click)="edit(company.id)">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para inserção de Empresas -->

<div class="modal fade" id="modalAddComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addCmp()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
              <div>
                  <div class="row">
                      <div class="col-sm-12">
                          
                              <label for="recipient-name" class="col-form-label">Nome</label>
                              <input type="text" class="form-control" formControlName="name" required>
                            
                           
                                <label for="recipient-name" class="col-form-label">Nome Fantasia</label>
                                <input type="text" class="form-control" formControlName="fantasyName" required> 
                         
                           
                          </div>
                      </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-sm-12">
                      
                        <div class="row">
                          <div class="col-8 col-md-6">
                              
                                  <label for="recipient-name" class="col-form-label">CNPJ</label>
                                  <input type="text" class="form-control" formControlName="cnpj" required>
                              
                          </div>
                          </div>
                      </div>
                                        

                    
              </div>
        
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!formulary.valid">Adicionar</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Modal para excluir empresas -->

<div class="modal fade" id="modalDelComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar Empresa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="delete(company_id)" data-dismiss="modal">Apagar</button>
      </div>
    </div>
  </div>
