<button type="button" class="btn btn-primary btn-round" data-toggle="modal" data-target="#modalAddUser" (click)="resetFormulary()">
  novo usuário
</button>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover"  *ngIf="show">
            
            <thead class=" text-primary">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Telefone Principal</th>
                <th scope="col">Telefone Secundário</th>
              </tr>
            </thead>
            
            <tbody >
            
              <tr *ngFor="let user of users">
                
                <th scope="row" >{{ user.id }}</th>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone1 }}</td>
                <td>{{ user.phone2 }}</td>
                <td><button class="btn btn-info btn-icon" style="width: 15px; height: 35px; " data-toggle="modal"
                  data-target="#modalUpdateUser" (click)="listUser(user.id)"><img style="width: 30px; height: 30px;" src="../assets/img/icons/baseline_create_white_18dp.png"></button>
               <button class="btn btn-danger btn-icon"  style="width: 15px; height: 35px;" data-toggle="modal"
                    data-target="#modalDelUser" (click)="referenceId(user.id)"><img style="width: 30px; height: 30px;" src="../assets/img/icons/baseline_delete_white_18dp.png"></button>
                </td>
                  
              </tr>
          
            </tbody>
         
          </table>
        
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal de Edição de empresas-->

<div class="modal fade" id="modalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="formulary" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Usuário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            
                                <label for="recipient-name" class="col-form-label"></label>
                                <input type="text" class="form-control"  placeholder="Nome" formControlName="name" required>
                              
                             
                                  <label for="recipient-name" class="col-form-label"></label>
                                  <input type="text" class="form-control" placeholder="email" formControlName="email" required> 
                           
                             
                            </div>
                        </div>
                      </div>
                     
                      <div class="row">
                        <div class="col-sm-12">
                        
                          <div class="row">
                            <div class="col-8 col-md-6">
                              
                                    <label for="recipient-name" class="col-form-label"></label>
                                    <input type="text" class="form-control" placeholder="Telefone principal" formControlName="phone1" required>
                                  
                            </div>
                            <div class="col-8 col-md-6">
                              
                              <label for="recipient-name" class="col-form-label"></label>
                              <input type="text" class="form-control" placeholder="Telefone secundário" formControlName="phone2" required>
                            
                      </div>
                            </div>
                        </div>
                                          

                      
                </div>
          
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary"  [disabled]="!formulary.valid" (click)="edit(user.id)">Editar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal para inserção de Empresas -->

<div class="modal fade" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form [formGroup]="formulary" (ngSubmit)="addCmp()">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Novo Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
              <div>
                  <div class="row">
                      <div class="col-sm-12">
                          
                              <label for="recipient-name" class="col-form-label">Nome</label>
                              <input type="text" class="form-control" formControlName="name" required>
                            
                           
                                <label for="recipient-name" class="col-form-label">E-Mail</label>
                                <input type="text" class="form-control" formControlName="email" required> 
                         
                           
                          </div>
                      </div>
                    </div>
                   
                    <div class="row">
                      <div class="col-sm-12">
                      
                        <div class="row">
                          <div class="col-8 col-md-6">
                              
                                  <label for="recipient-name" class="col-form-label">Telefone principal</label>
                                  <input type="text" class="form-control" formControlName="phone1" required>
                              
                          </div>
                          <div class="col-8 col-md-6">
                              
                            <label for="recipient-name" class="col-form-label">Telefone secundário</label>
                            <input type="text" class="form-control" formControlName="phone2" required>
                        
                    </div>
                          </div>
                      </div>
                                        

                    
              </div>
        
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary" [disabled]="!formulary.valid">Adicionar</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Modal para excluir empresas -->

<div class="modal fade" id="modalDelComp" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Deletar Usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="delete(user_id)" data-dismiss="modal">Apagar</button>
      </div>
    </div>
  </div>
